#navbar li  a{
  color: #28a745;
  text-decoration: none;
  background-color: transparent;
  font-size: 21px;
  list-style: none;
  text-align: left;
  text-decoration: none;
}

.img1{

    padding: 5px;
    height: auto;
    width: 500px;
}
.logo{
    margin-top: 1%;
    max-width: 250px;
    margin-left: 20%;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.nametext{
    font-family: 'Pacifico', cursive;
    font-size: 120px;
    color: red;
}
.grid-container {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 20px;
  }

  .form{
    display: block;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
}
.btn{
  width: 100%;
  background-color: rgb(0, 255, 128);
  margin: 8px;
  display: inline-block;
  border: 1px solid rgb(60, 54, 54);
  border-radius: 4px;
  box-sizing: border-box;
}
.btn:hover{
  background-color: rgb(0, 255, 128);
}